/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
  border: none;
}

.main .sign-form .container #sign-in .additional-info-section .ico .checked-img, .header .header--top .container .nav .nav--list a .icon {
  display: none;
}

.solutions .container .solutions--main-content .card .card-texts .check-list .list-elements, .solutions .container .solutions--main-content .card, .main .sign-form .container .form .selection-text, .main .sign-form .container .form .google-btn .google-ico, .main .sign-form .container #sign-in .additional-info-section .link-label, .main .sign-form .container #sign-in .additional-info-section, .header--bottom .container .text--content .buttons, .header .header--top .container .nav .nav--list, .header .header--top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solutions .container .solutions--main-content .card .card-texts .titles--up, .solutions .container .solutions--main-content .card .card-texts, .solutions .container .solutions--main-content, .solutions .container .solutions--text-content, .solutions .container, .majorities .container .majorities--cards .card .card--text, .majorities .container .majorities--cards .card, .majorities .container .majorities--text-content, .majorities .container, .main .sign-form .container .form .input-complex-section .input-complex, .main .sign-form .container .form .input-complex-section, .main .sign-form .container .form, .main .sign-form .container, .header--bottom .container .video--content, .header--bottom .container .text--content, .header--bottom .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.solutions .container .solutions--text-content .motivational--block, .majorities .container .majorities--cards .card .accent--img, .header--bottom .container .video--content .play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header--top {
  position: relative;
}
.header .header--top .container {
  height: 80px;
}
.header .header--top .container .nav .nav--list {
  gap: 51px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list {
    gap: 6dvw;
  }
}
.header .header--top .container .nav .nav--list a {
  border-radius: 2px;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list a .icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list a .link--text {
    display: none;
  }
}
.header .header--top .container .nav .nav--list .Sign-in a {
  color: rgb(93, 93, 255);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list .Sign-in a {
    display: block;
    border: 1px solid rgb(93, 93, 255);
  }
}
.header .header--top .container .nav .nav--list .Sign-up a {
  box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  background-color: rgb(93, 93, 255);
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list .Sign-up a {
    display: flex;
  }
}

.header--bottom {
  padding-top: 80px;
}
.header--bottom .container {
  gap: 64px;
  position: relative;
}
.header--bottom .container .text--content {
  max-width: 768px;
  min-height: 218px;
  text-align: center;
  gap: 32px;
}
.header--bottom .container .text--content .buttons {
  min-height: 48px;
  gap: 12px;
}
@media (max-width: 470px) {
  .header--bottom .container .text--content .buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}
.header--bottom .container .text--content .buttons a {
  color: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  padding: 12px 32px;
}
.header--bottom .container .text--content .buttons .first-btn {
  background-color: rgb(93, 93, 255);
  color: rgb(255, 255, 255);
}
.header--bottom .container .text--content .buttons .second-btn {
  background-color: rgb(51, 54, 58);
  color: rgb(197, 210, 220);
}
.header--bottom .container .video--content {
  position: relative;
  width: minmax(71dvw, 1024px);
  z-index: 2;
}
.header--bottom .container .video--content .video--img {
  z-index: 1;
  max-width: 100%;
  opacity: 1;
}
.header--bottom .container .video--content .play-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transition: ease-in-out 0.2s all;
  background: linear-gradient(213.57deg, rgba(235, 241, 245, 0.8) 14.42%, #ebf1f5 84.52%);
}
@media (max-width: 768px) {
  .header--bottom .container .video--content .play-btn {
    width: 10dvw;
    height: 10dvw;
  }
}
.header--bottom .container .video--content .play-btn:hover {
  opacity: 0.7;
}
.header--bottom .container .video--content .play-btn .play-btn-triangle {
  width: 40%;
  aspect-ratio: 22/17;
  background: url("../../imgs/header/play-btn-ico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header--bottom .container .decoration-second {
  width: 563px;
  max-height: 551px;
  position: absolute;
  z-index: -1;
  left: 10%;
  bottom: -100px;
}
@media (max-width: 768px) {
  .header--bottom .container .decoration-second {
    width: 300px;
    height: 294px;
    left: 0;
    bottom: -100px;
  }
}
@media (max-width: 470px) {
  .header--bottom .container .decoration-second {
    width: minmax(128px, 188px);
    height: minmax(125px, 184px);
  }
}

.main {
  padding: 80px 0 50px;
}
.main .sign-form .container {
  padding: 0px 5px;
  align-items: center;
  gap: 80px;
}
.main .sign-form .container .title {
  padding: 0 10px;
  text-align: center;
}
.main .sign-form .container #sign-in .additional-info-section .link-label {
  gap: 8px;
}
.main .sign-form .container #sign-in .additional-info-section .check-box {
  position: relative;
  opacity: 0;
  cursor: pointer;
}
.main .sign-form .container #sign-in .additional-info-section .check-box:checked ~ .ico {
  padding: 0;
}
.main .sign-form .container #sign-in .additional-info-section .check-box:checked ~ .ico .checked-img {
  display: block;
}
.main .sign-form .container #sign-in .additional-info-section .ico {
  position: absolute;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(93, 93, 255);
}
.main .sign-form .container .form {
  width: min(80dvw, 401px);
  align-items: stretch;
  gap: 24px;
}
.main .sign-form .container .form input {
  padding: 12px 16px;
  text-align: start;
  border-radius: 1px;
}
.main .sign-form .container .form input[type=button], .main .sign-form .container .form input[type=submit] {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form input[type=text], .main .sign-form .container .form input[type=email], .main .sign-form .container .form input[type=password] {
  color: initial;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form input[type=text]::placeholder, .main .sign-form .container .form input[type=email]::placeholder, .main .sign-form .container .form input[type=password]::placeholder {
  color: rgb(112, 125, 134);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form .google-btn {
  position: relative;
  height: 48px;
}
.main .sign-form .container .form .google-btn .google {
  width: 100%;
  text-align: center;
  background-color: rgb(229, 61, 62);
  position: absolute;
}
.main .sign-form .container .form .google-btn .google-ico {
  width: 31px;
  height: 25px;
  border-right: 1px solid rgb(245, 101, 101);
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 16px;
  justify-content: flex-start;
}
.main .sign-form .container .form .google-btn .google-ico .icon {
  width: 14px;
  height: 14px;
}
.main .sign-form .container .form .selection-text {
  align-items: center;
  gap: 12px;
}
.main .sign-form .container .form .selection-text .description {
  text-align: center;
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  .main .sign-form .container .form .selection-text .description {
    color: rgb(155, 169, 180);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.25px;
  }
}
.main .sign-form .container .form .selection-text .line-dots {
  width: 90px;
  height: 1px;
  border-bottom: 1px dotted rgb(51, 54, 58);
}
.main .sign-form .container .form .input-complex-section {
  gap: 16px;
  align-items: stretch;
}
.main .sign-form .container .form .input-complex-section .input-complex {
  align-items: stretch;
  gap: 4px;
}
.main .sign-form .container .form .input-complex-section .input-complex .label {
  color: rgb(197, 210, 220);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: initial;
  position: relative;
}
.main .sign-form .container .form .input-complex-section .input-complex .label:after {
  content: "*";
  color: rgb(229, 61, 62);
  position: absolute;
}
.main .sign-form .container .form .input-complex-section .input-complex .input {
  border: 1px solid rgb(51, 54, 58);
  background: transparent;
  color: rgb(112, 125, 134);
}
.main .sign-form .container .form .input-complex-section .privacy-text {
  text-align: center;
  color: rgb(112, 125, 134);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form .input-complex-section .privacy-text a {
  text-decoration: underline;
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form .SignUp-btn {
  background-color: rgb(93, 93, 255);
}
.main .sign-form .container .form .link-label {
  text-align: center;
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.main .sign-form .container .form .link {
  color: rgb(93, 93, 255);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.majorities {
  margin-top: 128px;
}
.majorities .container {
  gap: 52px;
}
.majorities .container .majorities--text-content {
  text-align: center;
  max-width: 768px;
  gap: 44px;
}
.majorities .container .majorities--text-content .title {
  max-width: 768px;
}
.majorities .container .majorities--text-content .sub-title {
  max-width: 768px;
}
.majorities .container .majorities--cards {
  display: grid;
  grid-template-rows: repeat(2, 230px);
  grid-template-columns: repeat(3, 325px);
  gap: 64px;
}
@media (max-width: 1024px) {
  .majorities .container .majorities--cards {
    grid-template-columns: repeat(2, 325px);
  }
}
@media (max-width: 768px) {
  .majorities .container .majorities--cards {
    grid-template-columns: repeat(1, 325px);
  }
}
@media (max-width: 470px) {
  .majorities .container .majorities--cards {
    grid-template-columns: repeat(1, 280px);
  }
}
.majorities .container .majorities--cards .card {
  gap: 16px;
}
.majorities .container .majorities--cards .card .accent--img {
  width: 64px;
  height: 64px;
  background-color: rgb(93, 93, 255);
  border-radius: 50%;
}
.majorities .container .majorities--cards .card .card--text {
  text-align: center;
  gap: 8px;
}

.solutions {
  padding-top: 80px;
}
.solutions .container {
  gap: 80px;
}
.solutions .container .solutions--text-content {
  max-width: 768px;
  text-align: center;
  gap: 16px;
}
.solutions .container .solutions--text-content .motivational--block {
  width: 186px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(198, 246, 213);
}
.solutions .container .solutions--text-content .motivational--block .text {
  color: rgb(54, 162, 105);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: initial;
}
.solutions .container .solutions--main-content {
  gap: 80px;
}
.solutions .container .solutions--main-content .card {
  gap: 64px;
}
@media (max-width: 1024px) {
  .solutions .container .solutions--main-content .card {
    flex-direction: column;
    align-items: center;
  }
}
.solutions .container .solutions--main-content .card-reverse .card-texts {
  order: 1;
}
@media (max-width: 1024px) {
  .solutions .container .solutions--main-content .card-reverse .card-texts {
    order: 0;
  }
}
.solutions .container .solutions--main-content .card-reverse .card-img {
  order: 0;
}
@media (max-width: 1024px) {
  .solutions .container .solutions--main-content .card-reverse .card-img {
    order: 1;
  }
}
.solutions .container .solutions--main-content .card .card-texts {
  max-width: 500px;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 1024px) {
  .solutions .container .solutions--main-content .card .card-texts {
    align-items: center;
    text-align: center;
  }
}
.solutions .container .solutions--main-content .card .card-texts .titles--up {
  align-items: flex-start;
  gap: 9px;
}
@media (max-width: 1024px) {
  .solutions .container .solutions--main-content .card .card-texts .titles--up {
    align-items: center;
  }
}
.solutions .container .solutions--main-content .card .card-texts .check-list .list-elements {
  justify-content: flex-start;
  gap: 9px;
}
.solutions .container .solutions--main-content .card .card-img {
  width: min(80dvw, 540px);
}
.solutions .container .solutions--main-content .card .card-img img {
  max-width: 100%;
}

body {
  padding: 0 5dvw;
  background-color: rgb(21, 23, 25);
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
body .decoration {
  z-index: -2;
  max-width: 501px;
  max-height: 364px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  body .decoration img {
    width: 300px;
    height: 217px;
  }
}

.container {
  max-width: 1104px;
  margin: auto;
}

.main section .under-line {
  border-bottom: 1px solid rgb(51, 54, 58);
  padding-bottom: 80px;
}

.logo {
  width: 32px;
  height: 32px;
}

h1.title {
  color: rgb(217, 227, 234);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
@media (max-width: 470px) {
  h1.title {
    color: rgb(217, 227, 234);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.5px;
  }
}

h2.title {
  color: rgb(217, 227, 234);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: -0.5px;
}
@media (max-width: 470px) {
  h2.title {
    color: rgb(217, 227, 234);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.25;
    letter-spacing: -0.5px;
  }
}

h3.mini-title {
  color: rgb(217, 227, 234);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3125;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  h3.mini-title {
    color: rgb(217, 227, 234);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3125;
    letter-spacing: -0.25px;
  }
}

h4.sub-title {
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  h4.sub-title {
    color: rgb(155, 169, 180);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -0.25px;
  }
}

h4.accent-sub-title {
  color: rgb(93, 93, 255);
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

h5.mini-title {
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.416;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  h5.mini-title {
    color: rgb(155, 169, 180);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.416;
    letter-spacing: -0.25px;
  }
}

.description {
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  .description {
    color: rgb(155, 169, 180);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
}