/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
  border: none;
}

.header .header--top .container .nav .nav--list a .icon {
  display: none;
}

.header--bottom .container .text--content .buttons, .header .header--top .container .nav .nav--list, .header .header--top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--bottom .container .text--content, .header--bottom .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 0 30px;
}
.header .header--top {
  position: relative;
}
.header .header--top .container {
  height: 80px;
}
.header .header--top .container .nav .nav--list {
  gap: 51px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list {
    gap: 6dvw;
  }
}
.header .header--top .container .nav .nav--list a {
  border-radius: 2px;
  padding: 10px 20px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list a .icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list a .link--text {
    display: none;
  }
}
.header .header--top .container .nav .nav--list .Sign-in a {
  color: rgb(93, 93, 255);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list .Sign-in a {
    display: block;
    border: 1px solid rgb(93, 93, 255);
  }
}
.header .header--top .container .nav .nav--list .Sign-up a {
  box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  background-color: rgb(93, 93, 255);
}
@media (max-width: 768px) {
  .header .header--top .container .nav .nav--list .Sign-up a {
    display: flex;
  }
}

.header--bottom {
  padding-top: 80px;
}
.header--bottom .container .text--content {
  max-width: 768px;
  text-align: center;
  gap: 32px;
}
.header--bottom .container .text--content .buttons {
  height: 48px;
  gap: 12px;
}
@media (max-width: 470px) {
  .header--bottom .container .text--content .buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}
.header--bottom .container .text--content .buttons a {
  color: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  padding: 12px 32px;
}
.header--bottom .container .text--content .buttons .first-btn {
  background-color: rgb(93, 93, 255);
  color: rgb(255, 255, 255);
}
.header--bottom .container .text--content .buttons .second-btn {
  background-color: rgb(51, 54, 58);
  color: rgb(197, 210, 220);
}
body {
  background-color: rgb(21, 23, 25);
  position: relative;
}
body .decoration {
  max-width: 501px;
  max-height: 364px;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  body .decoration img {
    width: 300px;
    height: 217px;
  }
}

.container {
  max-width: 1104px;
  margin: auto;
}

.logo {
  width: 32px;
  height: 32px;
}

h1.title {
  color: rgb(217, 227, 234);
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
}
@media (max-width: 470px) {
  h1.title {
    color: rgb(217, 227, 234);
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 41.6px;
    line-height: 49.6px;
    letter-spacing: -0.5px;
  }
}

.description {
  color: rgb(155, 169, 180);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.25px;
}
@media (max-width: 470px) {
  .description {
    color: rgb(155, 169, 180);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
}