.header {
  padding: 0 30px;
  .header--top {
    position: relative;
    .container {
      @extend %flex-x;
      height: 80px;
      .nav {
        .nav--list {
          @extend %flex-x;
          gap: 51px;
          @include mediaTablet {
            gap: 6dvw;
          }
          a {
            border-radius: 2px;
            padding: 10px 20px;
            .icon {
              @extend %none;
              @include mediaTablet {
                display: block;
                width: 24px;
                height: 24px;
              }
            }
            .link--text {
              @include mediaTablet {
                display: none;
              }
            }
          }
          .Sign-in {
            a {
              @include font-style(
                $color-accent,
                $font-main,
                500,
                16px,
                24px,
                -0.25px
              );

              @include mediaTablet {
                display: block;
                border: 1px solid $color-accent;
              }
            }
          }
          .Sign-up {
            a {
              box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
              @include font-style(
                $color-white,
                $font-main,
                500,
                16px,
                24px,
                -0.25px
              );
              background-color: $color-accent;
              @include mediaTablet {
                display: flex;
              }
            }
          }
        }
      }
    }
    
    }
  }
  .header--bottom {
    padding-top: 80px;
    .container {
      @extend %flex-y;
      .text--content {
        max-width: 768px;
        text-align: center;
        @extend %flex-y;
        gap: 32px;
        .buttons {
          height: 48px;
          @extend %flex-x;
          gap: 12px;
         @include mediaMobile{
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
          }
          a {
            @include font-style(auto, $font-main, 500, 16px, 24px, -0.25px);
            padding: 12px 32px;
          }
          .first-btn {
            background-color: $color-accent;
            color: $color-white;
          }
          .second-btn {
            background-color: $color-second-btn;
            color: $color-second-text;
          }
        }
      }
      .video--content {
      }
    }
  }
