.majorities {
    padding-top: min(128px,1dvh);
    .container {
        @extend %flex-y;
        gap:52px;
        
        .container-titles {
            gap:44px;
            .title {
            max-width: 768px;
            }
            .sub-title {
                max-width: 768px;
            }
        }
        .majorities--cards {
            display: grid;
            grid-template-rows: repeat(2,230px);
            grid-template-columns: repeat(3,325px);
            gap:64px;
            @include mediaLaptop{
            grid-template-columns: repeat(2,325px);
            }
            @include mediaTablet{
                grid-template-columns: repeat(1,325px);
            }
            @include mediaMobile{
                grid-template-columns: repeat(1,280px);

            }
            .card {
                @extend %flex-y;
                gap:16px;
                .accent--img {
                    width: 64px;
                    height: 64px;
                    background-color: $color-accent;
                    border-radius: 50%;
                    @extend %flex-center;
                }
                .card--text{
                    @extend %flex-y;
                    text-align: center;
                    gap:8px;
                }
            }
    }
}
}