.main {
  padding: 80px 0 50px;
  .sign-form {
    .container {
        padding: 0px 5px;
      @extend %flex-y;
      align-items: center;
      gap:80px;
      .title {
        padding: 0 10px;
        text-align: center;
      }
      #sign-up{

      }
      #sign-in{
          
        .additional-info-section {
          @extend %flex-x;
          .link-label{
            @extend %flex-x;
            gap:8px;
          }
          .check-box {
            position: relative;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .ico {
              padding: 0;
              & .checked-img{
                display: block;
              }
            }
          }
          
          .ico {
            position: absolute;
            padding:8px;
            border-radius: 4px;
            border: 1px solid $color-accent;
            .checked-img {
              @extend %none;
            }
          }
        }
      }
      .form {
        width: min(80dvw,401px);
        @extend %flex-y;
        align-items: stretch;
        gap:24px;
        
        input {
          padding: 12px 16px;
          text-align: start;
          border-radius: 1px;
          &[type=button],
          &[type=submit] {
              text-align: center;
            @include font-style(
              $color-white,
              $font-main,
              400,
              16px,
              24px,
              -0.25px
            );
          }
          &[type=text],&[type=email],&[type=password] {
            @include font-style(initial, $font-main, 400, 16px, 24px, -0.25px);
            &::placeholder {
              @include font-style(
                $color-sign-placeholder,
                $font-main,
                400,
                16px,
                24px,
                -0.25px
              );
            }
          }
        }
        .google-btn{
            position: relative;
            height: 48px;
            .google {
                width: 100%;
              text-align: center;
              background-color: $color-sign-google;
              position: absolute;
            }
            .google-ico{
              width: 31px;
              height: 25px;
              border-right:1px solid $color-sign-google-ico;
              position: absolute;
              z-index: 2;
              top:12px;
              left: 16px;
              @extend %flex-x;
              justify-content: flex-start;
              .icon{
                width: 14px;
                height: 14px;
              }
            }
        }
        .selection-text {
          @extend %flex-x;
          align-items: center;
          gap:12px; 
          .description {
              text-align: center;
            @include font-style(
              $color-sign-select,
              $font-main,
              400,
              16px,
              1.5,
              -0.25px
            );
            @include mediaMobile{
              @include font-style(
                $color-sign-select,
                $font-main,
                400,
                12px,
                1.5,
                -0.25px
              );
            }
        }
          .line-dots {
            width: 90px;
            height: 1px;
            border-bottom: 1px dotted $color-second-btn;
          }
        }
        .input-complex-section{
          @extend %flex-y;
          gap:16px;
          align-items: stretch;
          .input-complex {
            @extend %flex-y;
            align-items: stretch;
            // align-items: flex-start;
            gap:4px;
            .label {
              @include font-style(
                $color-second-text,
                $font-main,
                500,
                14px,
                22px,
                initial
              );
              position: relative;
              &:after {
                content: "*";
                color: $color-sign-google;
                position: absolute;
              }
            }
            .input {
              border: 1px solid $color-second-btn;
              background: transparent;
              color: $color-sign-placeholder;
            }
          }
          .privacy-text {
              text-align: center;
            @include font-style(
              $color-sign-placeholder,
              $font-main,
              400,
              16px,
              24px,
              -0.25px
            );
            a{
                text-decoration:underline;
              @include font-style(
                  $color-sign-select,
                  $font-main,
                  400,
                  16px,
                  24px,
                  -0.25px
                );
            }
          }
        }
        .SignUp-btn{
            background-color: $color-accent;
        }
        .link-label{
            text-align: center;
            @include font-style(
              $color-sign-select,
              $font-main,
              400,
              16px,
              24px,
              -0.25px
            );
          }
          .link {
              @include font-style(
            $color-accent,
            $font-main,
            400,
            16px,
            24px,
            -0.25px
          );
          }
      }
    }
  }
}