@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100..900&display=swap");
$color-bg: rgba(21, 23, 25, 1);

$color-title: rgba(217, 227, 234, 1);
$color-description: rgba(155, 169, 180, 1);

$color-accent: rgba(93, 93, 255, 1);

$color-white: rgba(255, 255, 255, 1);
$color-second-btn: rgba(51, 54, 58, 1);
$color-second-text: rgba(197, 210, 220, 1);
$font-main:"Inter", sans-serif;
$font-accent:"Architects Daughter", cursive;

$mobile: 470px;
$tablet: 768px;
