@import "./_reset.scss";
@import "./_vars.scss";
@import "./_mixins-extends.scss";

@import "../blocks/_header.scss";

@import "../blocks/_sign.scss";

@import "../blocks/_majorities.scss";
@import "../blocks/_solutions.scss";
@import "../blocks/_comments.scss";
@import "../blocks/_joining.scss";
@import "../blocks/_footer.scss";

body {

  &::-webkit-scrollbar {
    display: none;
  }
  padding: 0 5dvw;
  background-color: $color-bg;
  position: relative;
  .decoration {
    background: url("../imgs/decore/second-decore-one.png");
    background-size: cover;
    background-position: center;
    z-index: -2;
    width: 501px;
    height: 364px;
    position: absolute;
    top: 0;
    right: 0;
    @include mediaTablet {
      width: 300px;
      height: 217px;
    }
    }
  }

.container {
  max-width: 1104px;
  margin: 0 auto;
  animation: photo-show ease-in-out 1s;

}
 .container-titles{
  max-width: 768px;
  @extend %flex-y;
  text-align: center;
  gap: 16px;
}
.main section .under-line {
  border-bottom: 1px solid $color-second-btn;
  padding:80px 0;
}
.logo {
  width: 32px;
  height: 32px;
}
h1.title {
  @include font-style($color-title, $font-main, 800, 52px, 1.2, -0.5px);
  @include mediaMobile {
    @include font-style($color-title, $font-main, 800, 34px, 1.2, -0.5px);
  }
}
h2.title {
  @include font-style($color-title, $font-main, 800, 40px, 1.25, -0.5px);
  @include mediaMobile {
    @include font-style($color-title, $font-main, 800, 28px, 1.25, -0.5px);
  }
}
h3.mini-title {
  @include font-style($color-title, $font-main, 700, 32px, 1.3125, -0.25px);
  @include mediaMobile {
    @include font-style($color-title, $font-main, 700, 28px, 1.3125, -0.25px);
  }
}

h4.sub-title {
  @include font-style($color-description, $font-main, 400, 20px, 1.5, -0.25px);
  @include mediaMobile {
    @include font-style(
      $color-description,
      $font-main,
      400,
      17px,
      1.5,
      -0.25px
    );
  }
}
h4.accent-sub-title {
  @include font-style($color-accent, $font-accent, 400, 20px, 30px, 0.25px);
}
h5.mini-title {
  @include font-style(
    $color-description,
    $font-main,
    700,
    24px,
    1.416,
    -0.25px
  );
  @include mediaMobile {
    @include font-style(
      $color-description,
      $font-main,
      700,
      20px,
      1.416,
      -0.25px
    );
  }
}
h6.title{
  @include font-style($color-title,$font-main,500,14px,22px,initial);
}
.description {
  @include font-style($color-description, $font-main, 400, 18px, 27px, -0.25px);
  @include mediaMobile {
    @include font-style(
      $color-description,
      $font-main,
      400,
      16px,
      24px,
      -0.25px
    );
  }
}

@keyframes photo-show{
  from{
      transform-origin: center;
      scale: .4;
      opacity: 0;
  }
  to{
      transform-origin: center;
      scale: 1;
      opacity: 1;
  }
}